{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        {% if app.user %}
            <div class="alert alert-info">
                Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input type="text" name="_username" id="username" value="{{ last_username }}" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" required>
        </div>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
    </form>
</div>
{% endblock %}
